@keyframes t_b_float{
    0%{
        margin-top:0;
    }
    100%{
        margin-top:3rem;
    }
}
@keyframes b_t_float{
    0%{
        margin-top: 3rem;
    }
    100%{
        margin-top: 0; 
    }
}
body{
    background: rgba(14, 105, 209);}
header{
    text-align: center;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
     
    padding: 2rem 5rem;
    margin: 0;
}
header nav ul li{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    text-align: center;
    line-height: 10rem;
    position: relative;
}
header nav ul li .kb{
    width:0.7rem;
    height: 1rem;
    border-radius:50%;
    transform: skew(-45deg) ;
    position: absolute;
    top:1rem;
    left:2rem;
    background: #fff;
}
header nav ul li:nth-child(1){
     
    box-shadow:0 0 50px 3px rgb(248, 143, 5) inset;
    animation: t_b_float 2s linear alternate infinite;
}
header nav ul li:nth-child(1):hover{
    animation-play-state: paused;
}
header nav ul li:nth-child(2){
    margin-top:3rem; 
    box-shadow: 0 0 50px 3px rgb(250, 6, 27) inset;
    animation: b_t_float 2s linear alternate infinite;
}
header nav ul li:nth-child(2):hover{
    animation-play-state: paused;
}
header nav ul li:nth-child(3){
    box-shadow: 0 0 50px 3px rgb(4, 201, 250) inset;
    animation: t_b_float 2s linear alternate infinite;
}
header nav ul li:nth-child(3):hover{
    animation-play-state: paused;
}
header nav ul li:nth-child(4){
    margin-top:3rem; 
    box-shadow: 0 0 50px 3px rgb(47, 248, 6) inset;
    animation: b_t_float 2s linear alternate infinite;
}
header nav ul li:nth-child(4):hover{
    animation-play-state: paused;
}